## 커피빈 - 동적 웹페이지

## dataframe화, CSV 변경

In [5]:
import pandas as pd


h_data = pd.read_csv('할리스매장정보.csv')

h_data

,Unnamed: 0,name,area,phone,address,status
0,0,강변역점,서울 광진구,070-7802-0303,"서울 광진구 구의강변로 64, 구의아크로리버 1층 구의동 589-10",영업중
1,1,용산아이파크몰점,서울 용산구,02-2012-0473,"서울특별시 용산구 한강대로23길 55 (한강로3가, 용산역) 4층",영업중
2,2,부산서부터미널점,부산 사상구,051-323-0305,"부산광역시 사상구 사상로 201 (괘법동, 서부시외버스터미널) .",영업중
3,3,춘천강원대점,강원 춘천시,033-253-0425,강원특별자치도 춘천시 서부대성로 229 (효자동) .,영업중
4,4,순천조례점,전남 순천시,061-902-7288,"전라남도 순천시 충효로 109 (조례동, 디지털프라자전자랜드) 조례동 1264",영업중
...,...,...,...,...,...,...
500,500,합정역점,서울 마포구,02-6204-1234,서울특별시 마포구 양화로 36 (합정동 374-1) 할리스,영업중
501,501,부산달맞이점,부산 해운대구,051-731-3410,"부산광역시 해운대구 달맞이길 199, 2~3층 (중동 1488-14) 할리스",영업중
502,502,신림점,서울 관악구,02-877-0019,서울특별시 관악구 신림로 353-1,영업중
503,503,태평로점,서울 중구,02-755-7795,"서울특별시 중구 세종대로 64, 해남빌딩 1층 (태평로2가 70-5) 할리스",영업중
504,504,신촌점,서울 서대문구,02-393-2004,서울특별시 서대문구 연세로 34 (창천동 31-12) 할리스,영업중

In [28]:
h_address = h_data['area'].str[:2]
h_address.unique()
h_area_cnt = h_address.value_counts()
h_area_cnt # 지역별 개수(series)

area
서울    135
경기    110
전북     30
부산     29
경남     26
대구     22
충남     21
대전     19
인천     18
충북     16
경북     16
강원     16
울산     13
광주     13
전남     12
제주      5
세종      4
Name: count, dtype: int64

In [6]:
b_data = pd.read_csv('231011_커피빈매장정보.csv')

b_data

,Unnamed: 0,name,phone,address,optime
0,0,차병원점,02-538-7615,서울시 강남구 논현로 566 강남차병원1층,평일 07:00~18:00 | 토요일 07:00~15:00 | 일.공휴일 휴무
1,1,강남대로점,02-588-5778,서울시 서초구 강남대로 369 1층,"월-금 06:30-23:00 | 토-일,공휴일 08:00-23:00"
2,2,청담에스점,02-548-6052,"서울시 강남구 압구정로 461 네이처포엠빌딩B108,109호",월-금 07:00~22:00 | 토 07:30~22:00 | 일/공휴일 07:30~...
3,3,신사점,02-548-2741,서울시 강남구 도산대로 126,월-목 07:00~22:00 | 금 07:00~23:00 | 토 08:00~23:0...
4,4,역삼점,02-569-8051,"서울시 강남구 논현로 512 지상1,2층",월-금 07:00~23:00 | 토 08:00~23:00 | 일 08:00~22:00
...,...,...,...,...,...
227,227,동탄타임테라스점,031-613-7684,경기도 화성시 동탄중앙로220 타임테라스A 블록 1층 110호-1호,매일 10:30 ~ 22:00
228,228,서울시청점,02-420-0386,서울특별시 중구 무교로 12(무교동) 정오빌딩 1층,월-일 07:00 ~ 22:00
229,229,종로YBM별관점,02-402-3571,서울시 종로구 종로 98 1층,"| 월~금 07:30~22:00 l 주말,공휴일 08:00~22:00 l"
230,230,압구정로데오2호점,02-3444-9973,서울특별시 강남구 선릉로 157길 22 2층,월-목 08:00~23:00 | 금-토 08:00~24:00 | 일/공휴일 08:0...
231,231,고대안암병원신관점,02-544-6823,서울특별시 성북구 고려대로 73,"l 월~금 07:00~22:00 l 주말,공휴일 09:00~20:00 l"

In [25]:
b_address = b_data['address'].str[:2]
b_address.replace('경상', '경남', inplace=True)
# b_address.unique()
b_area_cnt = b_address.value_counts()
b_area_cnt # 지역별 개수(series)

address
서울    163
경기     43
부산      7
인천      6
경남      3
광주      3
제주      2
대전      1
충북      1
강원      1
대구      1
충남      1
Name: count, dtype: int64

In [33]:
total_cafe_df = pd.DataFrame(
    {'할리스' : h_area_cnt,
     '커피빈' : b_area_cnt
     }
)
total_cafe_df.sort_values(by='할리스', ascending=False, inplace=True)
total_cafe_df

    할리스    커피빈
서울  135  163.0
경기  110   43.0
전북   30    NaN
부산   29    7.0
경남   26    3.0
대구   22    1.0
충남   21    1.0
대전   19    1.0
인천   18    6.0
강원   16    1.0
경북   16    NaN
충북   16    1.0
울산   13    NaN
광주   13    3.0
전남   12    NaN
제주    5    2.0
세종    4    NaN